@import url("styles/reset.css");
@import url("styles/Menu.css");
@import url("styles/Title.css");
@import url("styles/SobreMi.css");
@import url("styles/Skills.css");
@import url("styles/Hobbies.css");
@import url("styles/Formacion.css");

:root{
   --cor-de-fundo: #f3dbc3;
   --cor-de-letra:#7e460d;
   --cor-de-fundo-oscuro: rgb(216, 172, 115);
}

body {
    cursor: url(img/galleta.png);
    background-color: var(--cor-de-fundo) ;
    color: var(--cor-de-letra);
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 12px;
    position: relative;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
}

a{
    color: var(--cor-de-letra);
}

/*Tablet*/
@media (min-width: 768px) {
    body {
        height: 100vh;
        font-size: 16px;
    }

    /*Menu*/
    .menu{
        justify-content: space-around; 
    }
    
    /*title*/
    .title__div{
        display:flex;
        flex-direction: row-reverse;
        padding: 18px 18px 18px 18px;
    }

    .profile{
        height: 146px;
        width: 146px;
        margin-left: 15px;
    }

    .title__container{
        padding: 0px 28.5px 0px 0px;
    }

    .social-links{
        justify-content: flex-start;
    }

    .social-links img{
        width: 30px;
    }
    
    /*Sección sobre mi*/
    #sobre-mi{
        padding-left: 30px;
        flex-direction: row;
    }

    .about__title{
        margin-bottom: 15px;
    }

    .programador{
        width: 180px;
        height: auto;
    }

    .about__paragraph{
        margin-right: 40px;
    }

    /*Hobbies*/

    .academic{
        height: 500px;
    }

    .academic__courses{
        align-self: center;
    }

    .academic__courses__list{
        padding: 10px 5px 10px 10px;
        width: 400px;
    }

    .academic__courses__box{
        gap: 20px;
    }

    .academic__courses__box img {	
        width: 100px;
    }

    
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
    }

    /*DESKTOP*/
@media (min-width: 1240px) {

    /*Menu*/
    .menu{
        width: auto;
        position: fixed;
        width: 100%;
        z-index: 1000; /*me ayuda con el problema de superposicion de otros elementos*/
    }
    .menu__list{
        display: inline-flex;
        align-items: center;
        gap: 40px;
        color: var(--cor-de-letra);
    }

    .menu__list__item:nth-of-type(6):hover {
        transform: none;
        text-shadow: none;
    }

    .menu__list__item:hover{
        transform: scale(1.2);
        text-shadow: 0 0 5px #f7dabd;
    }

    .menu__list:nth-of-type(1) li:nth-child(6) a {
        font-weight: bold;
    }

    .menu__list__item__contato{
        display: none;
    }

    /*Titulo*/
    .title__div{
        margin: 40px 50px 0px 50px;
    }

    .profile{
        height: 300px;
        width: 300px;
    }

    .title__container{
        font-size: 16px;
        margin: 30px 0px 30px 0px;
    }

    .title__bio{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .social-links{
        margin-top: 30px;
    }

    .social-links img{
        width: 50px;
    }
    
    /*Skills*/
    .skills__box img {
        width: 50px;
    }
    
    /*Hobbies*/
    .hobbies_container{
        margin: 30px 0px 40px 0px;
        display: flex;
        justify-content: center;
        min-height: 50vh;
    }

    .hobbies{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 500px;
    }

    .hobbies__title{
        font-size: 30px;
        
    }

    .hobbies__line{
        height: 400px;
        width: auto;
        gap: 80px;
    }

    .hobbies__box img {	
        width: 90px;
    }
     
    /*Formación Académica*/
    .academic{
        padding: 40px 10px 10px 10px;
        margin: 30px 0px 30px 0px;
        justify-content: flex-start;
        height: 450px;
        background: linear-gradient(to bottom, rgb(216, 172, 115) 65%, #f3dbc3 35%);
    }

    .academic__title{
        margin-bottom: 20px;
        font-size: 30px;
    }

    .academic__courses{
        flex-direction: row;
        gap: 70px;
    }

    .academic__courses__box{
        flex-direction: column;
        align-items: center;
    }

    .academic__courses__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
    }

    .academic__courses__item__subtitle{
        margin: 10px 5px 10px 5px;

    }

    /*Experiencia Profesional*/
    
     /*Contacto*/
    
    /*Footer*/
    
    }