@import url("styles/reset.css");
@import url("styles/Menu.css");

:root{
   --cor-de-fundo: #f3dbc3;
   --cor-de-letra:#804000;
}

body {
    background-color: var(--cor-de-fundo) ;
    line-height: 1;
    color: var(--cor-de-letra);
    font-family: "Noto Serif", serif;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
}

a{
    color: var(--cor-de-letra);
}

/*Tablet*/
@media (min-width: 768px) {

    /* Menú */
    
    /*title*/
    
    /*Skills*/
    
    /*Hobbies*/
    
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
    }

    /*DESKTOP*/
@media (min-width: 1440px) {

    /*Menu*/
    
    /*Titulo*/
    
    /*Sección sobre mi*/
    
    /*Skills*/
    
    /*Hobbies*/
     
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
     /*Contacto*/
    
    /*Footer*/
    
    }