.hobbies{
    height: 200px;
    padding: 10px 20px 10px 20px;
    margin: 10px 0px 10px 0px;
}

.hobbies__title{
    font-weight: bold;
    text-shadow: 0 0 3.5px #7e460d;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 20px;
    padding:  5px 5px 5px 5px;
    background-color: antiquewhite;
}

.hobbies__box{
    flex-grow: 1;
    justify-items: center;
    align-items: center;
    text-align: center; 
    border-right: 1px solid rgb(170, 160, 160);
}

.hobbies__box ul{
    flex-direction: column;
}

.hobbies__box img {	
    width: 60px;
    margin-bottom: 5px;
}

.hobbies__box:hover img{
    transform: scale(1.2);
}